<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Music App!</h1>

    <% if !!current_user %>
      <label>
        <form action="<%= sessions_url %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="submit" value="Logout">
        </form>
      </label>

    <% else %>  
      <a href="/sessions/new">
        <button>Sign In</button>
      </a>

      <a href="/users/new">
        <button>Join Here</button>
      </a>
    <% end %>

   <%= yield %>
  </body>
</html>
